[Unit]
Description=yulo OS First Boot Setup
After=network.target lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/lib/yulo/first-boot-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
